<form method="post" action="/student_list">

  <label for="first-name">First name:</label>
  <input type="text" name="first_name" id="first-name">

  <label for="last-name">Last name:</label>
  <input type="text" name="last_name" id="last-name">

  <label for="house-select">House:</label>
  <select name="house" id="house-select">
    <option value="Gryffindor">Gryffindor</option>
    <option value="Slytherin">Slytherin</option>
    <option value="Hufflepuff">Hufflepuff</option>
    <option value="Ravenclaw">Ravenclaw</option>
  </select>

  <label for="age-select">Age:</label>
  <select name="age" id="age-select">
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
    <option value="13">13</option>
    <option value="14">14</option>
    <option value="15">15</option>
    <option value="16">16</option>
    <option value="17">17</option>
    <option value="18">18</option>
  </select>

  <input type="submit" value="Add student">



</form>
